<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Disease Predictor{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-nav">
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/symptoms" class="nav-link">symptoms</a></li>
                <li><a href="/diseases" class="nav-link">diseases</a></li>
                
                <li><a href="/about" class="nav-link">About</a></li>
                <!-- Add more navigation items as needed -->
            </ul>
        </div>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 MEDPRED. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
