{% extends "base.html" %}

{% block title %}
    List of Diseases
{% endblock %}

{% block content %}
    <div class="container">
        <h1>List of Diseases</h1>
        <ol>
            <li>Fungal infection</li>
            <li>Allergy</li>
            <li>GERD</li>
            <li>Chronic cholestasis</li>
            <li>Drug Reaction</li>
            <li>Peptic ulcer diseae</li>
            <li>AIDS</li>
            <li>Diabetes</li>
            <li>Gastroenteritis</li>
            <li>Bronchial Asthma</li>
            <li>Hypertension</li>
            <li>Migraine</li>
            <li>Cervical spondylosis</li>
            <li>Paralysis (brain hemorrhage)</li>
            <li>Jaundice</li>
            <li>Malaria</li>
            <li>Chicken pox</li>
            <li>Dengue</li>
            <li>Typhoid</li>
            <li>Hepatitis A</li>
            <li>Hepatitis B</li>
            <li>Hepatitis C</li>
            <li>Hepatitis D</li>
            <li>Hepatitis E</li>
            <li>Alcoholic hepatitis</li>
            <li>Tuberculosis</li>
            <li>Common Cold</li>
            <li>Pneumonia</li>
            <li>Dimorphic hemmorhoids(piles)</li>
            <li>Heart attack</li>
            <li>Varicose veins</li>
            <li>Hypothyroidism</li>
            <li>Hyperthyroidism</li>
            <li>Hypoglycemia</li>
            <li>Osteoarthristis</li>
            <li>Arthritis</li>
            <li>(vertigo) Paroymsal Positional Vertigo</li>
            <li>Acne</li>
            <li>Urinary tract infection</li>
            <li>Psoriasis</li>
            <li>Impetigo</li>
        </ol>
        <a href="/">Back to Home</a>
    </div>
{% endblock %}
